html {
    background-color: pink;
}
#button1 {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 7px 14px;
    margin: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}
@media only screen and (max-width: 1280px) {
  #img {
    width: 100%;
  }
}
.lilink-out-btn #button1{
   
}
.footer-credits {
    display: none;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.canh_bao{
    font-size: 2em;
}
